<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/mainLayout" >
<head>
    <meta charset="UTF-8"/>
    <title></title>

</head>
<body>
<div class="row" layout:fragment="content">
    <div class="container-fluid">
        <div class="panel panel-default">

            <div class="panel-heading">
                <h3>Autorzy</h3>
            </div>

            <div class="panel-body">

            </div>
        </div>
    </div>
</div>

</body>
</html>